<div class="card" [ngClass]="{'focus': active}">
    <div class="info-left">
        <h3>{{salesmanData.name}}</h3>
        <p class="space">{{salesmanData.category}}</p>
        <p>Longitud = {{salesmanData.coordinates.longitude}}</p>
        <p>Latitud = {{salesmanData.coordinates.latitude}}</p>
        <p>Altitud = {{salesmanData.coordinates.height}}</p>
    </div>
    <div class="info-right">
        <div class="details">
            <p>{{salesmanData.address}}</p>
            <h4>{{salesmanData.vehicle | titlecase}}</h4>
            <h4 [ngClass]="{'active': salesmanData.isActive, 'inactive': !salesmanData.isActive}">{{salesmanData.isActive ? 'Activo' : 'Inactivo'}}</h4>
        </div>
        <div class="image-container">
            <ng-container *ngIf="validateImage(salesmanData.photo); else defaultImage">
                <img [src]="'../../../../../assets/img/' + salesmanData.photo + '.jpg'">
            </ng-container>
            <ng-container *ngIf="validateIcon(salesmanData.vehicle); else defaultIcon">
                <img [src]="'../../../../../assets/icons/' + salesmanData.vehicle + '.svg'">
            </ng-container>
        </div>
    </div>
</div>

<ng-template #defaultImage>
    <img src="../../../../../assets/img/default.png">
</ng-template>
<ng-template #defaultIcon>
    <img src="../../../../../assets/icons/sinvehiculo.svg">
</ng-template>