<google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
  <map-marker
    #marker="mapMarker"
    *ngFor="let salesman of salesmanList"
    [position]="{lat: salesman.coordinates.latitude, lng: salesman.coordinates.longitude}"
    [icon]="validateIcon(salesman.vehicle)"
    [options]="markerOptions"
    (mapClick)="openInfoWindow(marker, salesman.id)"
  >
</map-marker>
<map-info-window>
  <app-salesman-map-detail [salesmanId]="salesmanId" *ngIf="salesmanId"/>
</map-info-window>
</google-map>