@import 'src/_variables.scss';

.container {
    background-color: $color-grey;
    padding: 20px;
    .title {
        text-align: center;
        margin-bottom: 12px;
        p {
            font-size: 14px;
            color: $color-secundario;
        }
    }
    .salesman-card {
        height: calc(100vh - 15rem);
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .actions {
        display: flex;
        justify-content: flex-end;
        button {
            padding: 12px 40px;
            border-radius: 10px;
            margin-top: 20px;
            background-color: $color-primario;
            color: #fff;
        }
    }
}