<div class="container">
  <div class="title">
    <h3>LISTADO DE LOCALIZACIONES</h3>
    <p>Listado de dispositivos que reportan su posición</p>
  </div>
  <div class="salesman-card">
    <app-salesman-card
      *ngFor="let salesman of salesmanList; let i = index"
      [salesmanData]="salesman"
      [active]="focusCard[i]"
      (click)="foundSalesman(salesman, i)"
    ></app-salesman-card>
  </div>
  <div class="actions">
    <button (click)="createSalesman()" mat-raised-button>CREAR NUEVO</button>
  </div>
</div>
